<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">About Me</h2>

  <div class="spacer-60"></div>

  <div class="row">

    <div class="col-md-3">
      <div class="text-center text-md-left">
        <!-- avatar image -->
        <img src="assets/images/avatar-2.png" alt="lonzo" />
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-9 triangle-left-md triangle-top-sm">
      <div class="rounded bg-white shadow-dark padding-30">
        <div class="row">
          <div class="col-md-6">
            <!-- about text -->
            <p>I am Elonzo Ludden, a tencacious, quick-learning web developer living in Oklahoma City with Southern California roots. I have rich experience in various web-app building and customization.</p>
            <div class="mt-3">
              <a href="../../../../assets/ElonzoLudden-Resume.docx" target="_self" class="btn btn-default mt-5">Download CV</a>
            </div>
            <div class="spacer-30 d-md-none d-lg-none"></div>
          </div>
          <div class="col-md-6">
            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">Languages</h4>
              </div>
              <p>Javascript, Typescript, SQL, Python</p>
            </div>

            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">Tools</h4>
              </div>
              <p>Angular, React, Redux, Node, Bootstrap, Material Design, MySQL, GIT, TFS</p>
            </div>

            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">Methodologies</h4>
              </div>
              <p>Agile, Scrum</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- row end -->

  <div class="spacer-70"></div>

  <div class="row d-flex" style="justify-content: space-around;">
    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-fire"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">8</em></h3>
          <p class="mb-0">Projects completed</p>
        </div>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-cup"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">5670</em></h3>
          <p class="mb-0">Cups of Chai</p>
        </div>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

  </div>

</div>
